@using CityOfMovie.Core.Convertors
@using CityOfMovie.Core.DTOs
@model UserFilterViewModel;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminPanelLayout.cshtml";
    var counter = (Model.CurentPage * Model.UserPerPage) - Model.UserPerPage + 1;
   
   

}
<section class="AdminPanel-UserList">
    <div class="adminPanel-body">
        <h2>لیست کاربران</h2>
        <div class="filter-inputs">
           
             <form id="filterInputsForm" method="get" asp-action="Index">
                <input  id="userName" asp-for="username"  placeholder="نام کاربری"  />
                <input  id="email" asp-for="email"  placeholder="ایمیل" />
                <button  type="submit" asp-action="Index"><i class="fa-solid fa-filter"></i></button>
                <a href="Admin"><i class="fa-solid fa-arrows-rotate"></i></a>
            </form>
            
        </div>
        <div class="userList">
            @if (Model.userList.Count > 0)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">نام کاربری</th>
                            <th scope="col">ایمیل</th>
                            <th scope="col">تاریخ عضویت</th>
                            <th scope="col">وضعیت حساب</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    @foreach (var user in Model.userList)
                    {
                        <tr>
                            <th scope="row">@counter</th>
                            <td valign="middle">@user.UserName</td>
                            <td valign="middle">@user.Email</td>
                            <td valign="middle">@user.RegisterDate.ToShamsi()</td>
                            @if (user.IsActive)
                            {
                                <td valign="middle" class="text-success">فعال</td>
                            }
                            else
                            {
                                <td valign="middle" class="text-danger">غیرفعال</td>
                            }
                            <td>
                                <div class="table-buttons">
                                    <button><i class="fa-solid fa-pen-to-square"></i></button>
                                    <button><i class="fa-solid fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                       
                        counter++;
                    }
                   
                    </tbody>
                </table>

            }
            else
            {
                <p class="alert alert-info">کاربری موجود نیست</p>
            }

        </div>
        <div class="page-number">
            <ul>
                @for (var i = 1; i < Model.PageCount+1; i++)
                {
                    var isActive = "";
                    if (i== Model.CurentPage)
                    {
                         isActive = "active";
                    }
                   
                    <li><a class="@isActive"  href="/Admin/@i" style="cursor: pointer">@i</a></li>
                }
            </ul>
        </div>
    </div>
</section>

